    .highlight {
          color: red;
          background-color: yellow;
    }

    #toggleSwitch {
          display: block;
          width:100px;
          height:10px;
          padding-top: 10px;
          margin: 0 auto;
          text-align: center;
     }

    body {
         background-color: black;
         height: 300px;
         width: 300px;
     }

    #frenlylogo {
         width: 100%;
     }

     h3 {
        color: rgb(242,238,55);
        text-align: center;
        margin: 15px;
        font-family: 'Vibur',serif;
     }

     .switch {
        position: relative;
        display: inline-block;
        width: 58px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        -webkit-transition: .4s;
        transition: .4s;
     }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: black;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: yellow;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }


/*    .slider:after
{
 content:'OFF';
 align-content: right;
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: 'Vibur', sans-serif;
}

input:checked + .slider:after
{
  content:'ON';
  text-align: left;
}